* {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr minmax(auto, auto) minmax(auto, auto) 1fr;
}

fieldset {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
}

fieldset#variables div {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
}

#literal {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#operation {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}

input {
  width: 100%;
  font-size: 1.2em;
}

input:invalid {
  background-color: coral;
}


.drag {
  background-color: lightgrey;
  cursor: copy;
}

.drop {
  background-color: lightgrey;
  cursor: alias;
}

.input {
  border-width: 1px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

select {
  background-color: rgb(184, 184, 184);
  font-size: 1.2em;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select[name=operator] {
  text-align: center;
}