* {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  max-width: 30em;
  display: grid;
  grid-template-rows: minmax(auto, auto) minmax(auto, auto) 1fr 1fr;
}

fieldset {
  margin: 2px;
  padding: 2px;
  border-width: 1px;
}

fieldset#variables {
  overflow-y: scroll;
  padding-bottom: 15px;
}

fieldset#variables span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  width: 50%;
  display: inline-block;
  transform: translateX(50%);
  text-align: center;
  background-color: lightgrey;
  color: grey;
  pointer-events: none;
}

fieldset#variables div {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
}

#literal {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

#operation {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}

input {
  width: 100%;
  font-size: 1.2em;
}

input[invalid=true] {
  background-color: coral;
}

input[value=1] {
  background-color: aquamarine;
}


.drag {
  background-color: lightblue;
  cursor: copy;
}

.drop {
  background-color: lightgreen;
  cursor: alias;
}

.input {
  border-width: 1px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

select {
  background-color: coral;
  font-size: 1.2em;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select[name=operator] {
  text-align: center;
}

select:disabled {
  background-color: rgb(184, 184, 184);
}